body {
	background-color: #D3D3D3;
}
nav {
    background-color: #720E2A;
    overflow: hidden;
    font-family: Roboto;
    position: relative;
    width: 100%;
    top: 0;
    border-radius: 8px;
}

footer {
	background-color: #720E2A;
	color: white;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	bottom: 0;
    border-radius: 8px;
    font-family: Roboto;
	margin-top: 40px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.resources-link {
	float: right;
}


h1 {
    text-align: center;
    font-size: 46px;
    margin-top: 50px;
    font-family: Open Sans;
    margin-top: 55px;
}

p {
	font-family: Open Sans;
	font-size: 11pt;
}

hr {
    border: 0;
    height: 7px;
    background-color: #333;
    margin: 1px auto;
    width: 40%;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
    margin-top: 50px;
}


.tableauPlaceholder{
	align-items: center;
	margin-top: 80px;
}
